---
// Import the global CSS here
import '../styles/global.css';
const { title = "Paul Technologies" } = Astro.props;
---
<!doctype html>
<html lang="en" class="dark"> <head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
	</head>
	<body class="bg-white dark:bg-[#020617] transition-colors duration-300">
		<slot />
	</body>
</html>